<select id="manufacturer-search">
                                                            <option value="-1">Tutte</option>
                                                            <option value="80">ACCELERA</option>
                                                            <option value="319">ADVANCE</option>
                                                            <option value="139">AEOLUS</option>
                                                            <option value="187">AEZ</option>
                                                            <option value="114">ALCAR</option>
                                                            <option value="222">ALCOA</option>
                                                            <option value="116">ALESSIO</option>
                                                            <option value="22">ALLIANCE</option>
                                                            <option value="177">ALUTEC</option>
                                                            <option value="317">ANNAITE</option>
                                                            <option value="118">ANTERA</option>
                                                            <option value="52">ANTYRE/JINTONG</option>
                                                            <option value="310">ATLAS</option>
                                                            <option value="176">ATS</option>
                                                            <option value="142">ATTURO</option>
                                                            <option value="130">AURORA</option>
                                                            <option value="143">AUSTONE</option>
                                                            <option value="85">AUTOGUARD</option>
                                                            <option value="25">B.F.GOODRIC</option>
                                                            <option value="151">B+B</option>
                                                            <option value="72">BARUM</option>
                                                            <option value="71">BCT</option>
                                                            <option value="50">BEAUTRAK</option>
                                                            <option value="159">BKT</option>
                                                            <option value="166">BLACKSTONE</option>
                                                            <option value="307">BPA S.P.A.</option>
                                                            <option value="18">BRIDGESTONE</option>
                                                            <option value="35">BRISTOL</option>
                                                            <option value="127">BRYTON</option>
                                                            <option value="111">BUDGT</option>
                                                            <option value="149">C.SHAN</option>
                                                            <option value="55">CAMAC</option>
                                                            <option value="304">CATENE</option>
                                                            <option value="318">CENTARA</option>
                                                            <option value="156">CENTRE TUBES</option>
                                                            <option value="58">CHEN SHI</option>
                                                            <option value="66">CHEYEN</option>
                                                            <option value="313">CINA</option>
                                                            <option value="136">CITYSTAR</option>
                                                            <option value="82">CLEAR</option>
                                                            <option value="140">COMPASS</option>
                                                            <option value="308">CONSTANCY</option>
                                                            <option value="4">CONTINENTAL</option>
                                                            <option value="49">COOPER</option>
                                                            <option value="154">CORSA</option>
                                                            <option value="309">CST</option>
                                                            <option value="180">CULTOR</option>
                                                            <option value="96">DANUB/MONTANA</option>
                                                            <option value="36">DANUBIANA</option>
                                                            <option value="13">DAYTON</option>
                                                            <option value="67">DEBICA</option>
                                                            <option value="74">DEESTONE</option>
                                                            <option value="172">DIVERSEN</option>
                                                            <option value="87">DOTZ</option>
                                                            <option value="185">DOUBLECOIN</option>
                                                            <option value="79">DOUBLESTAR</option>
                                                            <option value="9">DUNLOP</option>
                                                            <option value="315">DURATURN</option>
                                                            <option value="200">ERMA</option>
                                                            <option value="108">EUROGRIP</option>
                                                            <option value="23">EUROPA</option>
                                                            <option value="28">EVEREST</option>
                                                            <option value="171">EVERGREEN</option>
                                                            <option value="73">EX AVIO</option>
                                                            <option value="122">EXTREME</option>
                                                            <option value="57">FATE</option>
                                                            <option value="43">FEDERAL</option>
                                                            <option value="8">FIRESTONE</option>
                                                            <option value="115">FIRSAT</option>
                                                            <option value="62">FLAMINGO</option>
                                                            <option value="150">FORCEUM</option>
                                                            <option value="6">FORMULA</option>
                                                            <option value="147">FORTUNA</option>
                                                            <option value="83">FOX</option>
                                                            <option value="42">FULDA</option>
                                                            <option value="51">FULLRUN</option>
                                                            <option value="167">FULLWAY</option>
                                                            <option value="157">GADJAH TUNGAL</option>
                                                            <option value="30">GALAXI</option>
                                                            <option value="27">GENERAL</option>
                                                            <option value="170">GERUTTI</option>
                                                            <option value="311">GOFORM</option>
                                                            <option value="144">GOLDEN TYRE</option>
                                                            <option value="322">GOLDLINE</option>
                                                            <option value="99">GOODRIDE</option>
                                                            <option value="2">GOODYEAR</option>
                                                            <option value="84">GREMAX</option>
                                                            <option value="314">GRERNLANDER</option>
                                                            <option value="190">GRIPMAX</option>
                                                            <option value="104">GT RADIAL</option>
                                                            <option value="26">HANKONG</option>
                                                            <option value="39">HANKOOK</option>
                                                            <option value="113">HARDGREEN</option>
                                                            <option value="24">HAWAFONG</option>
                                                            <option value="105">HERCULES</option>
                                                            <option value="161">HIFLY</option>
                                                            <option value="75">HILO</option>
                                                            <option value="179">IMPERIAL</option>
                                                            <option value="63">IMPORTAZIONE</option>
                                                            <option value="141">INFINITY</option>
                                                            <option value="54">INTERSTATE</option>
                                                            <option value="165">JINYU</option>
                                                            <option value="98">KAIYUAN</option>
                                                            <option value="59">KENDA</option>
                                                            <option value="132">KINGS TYRE</option>
                                                            <option value="44">KINGSTAR</option>
                                                            <option value="5">KLEBER</option>
                                                            <option value="33">KORMORAN</option>
                                                            <option value="102">KUMHO</option>
                                                            <option value="164">LANDSAIL</option>
                                                            <option value="123">LEMMERZ</option>
                                                            <option value="300">LING LONG</option>
                                                            <option value="60">LONG MARCH</option>
                                                            <option value="61">MABOR</option>
                                                            <option value="181">MAGGI CATENE</option>
                                                            <option value="174">MAK</option>
                                                            <option value="316">MALHOTRA</option>
                                                            <option value="16">MARANGONI</option>
                                                            <option value="37">MARSHAL</option>
                                                            <option value="306">MASTERSTEEL</option>
                                                            <option value="109">MATADOR</option>
                                                            <option value="321">MAXAM</option>
                                                            <option value="78">MAXTREK</option>
                                                            <option value="106">MAXXIS</option>
                                                            <option value="137">MENTOR</option>
                                                            <option value="145">METEOR</option>
                                                            <option value="64">METZELER</option>
                                                            <option value="1">MICHELIN</option>
                                                            <option value="186">MILE</option>
                                                            <option value="324">MILESTONE</option>
                                                            <option value="121">MILLE MIGLIA</option>
                                                            <option value="169">MINERVA</option>
                                                            <option value="29">MITAS</option>
                                                            <option value="325">MOMO</option>
                                                            <option value="47">MSW</option>
                                                            <option value="189">MV CAMION</option>
                                                            <option value="45">NANKANG</option>
                                                            <option value="94">NEXEN</option>
                                                            <option value="155">NOKIAN</option>
                                                            <option value="70">NOVEX</option>
                                                            <option value="15">OBILICEVO</option>
                                                            <option value="303">OFFICINA</option>
                                                            <option value="124">OZ</option>
                                                            <option value="148">PERFORMANCE</option>
                                                            <option value="101">PETLAS</option>
                                                            <option value="3">PIRELLI</option>
                                                            <option value="95">PLATIN</option>
                                                            <option value="173">PREMADA</option>
                                                            <option value="65">PRIME WELL</option>
                                                            <option value="146">PROFESSIONAL</option>
                                                            <option value="10">PUMA</option>
                                                            <option value="182">REGAL</option>
                                                            <option value="12">REKORD</option>
                                                            <option value="81">RICOPERTO</option>
                                                            <option value="91">RIKEN</option>
                                                            <option value="19">ROADLUX</option>
                                                            <option value="93">ROADSTONE</option>
                                                            <option value="152">ROCKSTONE</option>
                                                            <option value="86">ROTALLA</option>
                                                            <option value="188">ROVELO</option>
                                                            <option value="34">RUMA</option>
                                                            <option value="107">RUNWAY</option>
                                                            <option value="162">SAILUN</option>
                                                            <option value="14">SAVA</option>
                                                            <option value="40">SEMPERIT</option>
                                                            <option value="38">SHINE MARCH</option>
                                                            <option value="21">SIAMESE</option>
                                                            <option value="90">SILVESTONE</option>
                                                            <option value="92">SIME</option>
                                                            <option value="120">SOLIDEAL</option>
                                                            <option value="135">SONAR</option>
                                                            <option value="128">SPARCO</option>
                                                            <option value="178">SPEEDWAY</option>
                                                            <option value="131">STARMAXX</option>
                                                            <option value="323">SUMITOMO</option>
                                                            <option value="168">SUNITRAC</option>
                                                            <option value="153">SUNNY</option>
                                                            <option value="134">SUNTEK</option>
                                                            <option value="205">SUPERIA</option>
                                                            <option value="41">TAISHAN</option>
                                                            <option value="53">TAURUS</option>
                                                            <option value="138">TEKNO</option>
                                                            <option value="68">TITAN</option>
                                                            <option value="125">TITANIUM</option>
                                                            <option value="97">TOFAN</option>
                                                            <option value="56">TOYO</option>
                                                            <option value="69">TRACMAX</option>
                                                            <option value="11">TRAYAL</option>
                                                            <option value="184">TRAZANO</option>
                                                            <option value="183">TRELLEBORG</option>
                                                            <option value="301">TRIANGLE</option>
                                                            <option value="191">TRISTAL</option>
                                                            <option value="163">TYFOON</option>
                                                            <option value="320">UNIGRIP</option>
                                                            <option value="76">UNION</option>
                                                            <option value="7">UNIROYAL</option>
                                                            <option value="160">VANLITIRE</option>
                                                            <option value="32">VARIE</option>
                                                            <option value="305">VARIE OMAGGI</option>
                                                            <option value="112">VEE RUBBER</option>
                                                            <option value="31">VICTORIA</option>
                                                            <option value="103">VREDESTEIN</option>
                                                            <option value="48">WANLI</option>
                                                            <option value="89">WESTLAKE</option>
                                                            <option value="126">WONDER TYRE</option>
                                                            <option value="88">WSP</option>
                                                            <option value="158">YELLOW SEA</option>
                                                            <option value="20">YOKOHAMA</option>
                                                            <option value="110">ZEETEC</option>
                                                            <option value="133">ZETA</option>
</select>