

<div id = "items_grid">
    <%= render partial: 'results_grid', locals: { res: @res , fornitori: @fornitori, finished: @finished}  %>
</div>
<hr/>
<div class="row" style="height: 20px;">
    
</div>

<script type="text/javascript">
    
        
</script>

<script type="text/javascript">	
<% if @new %>



$( document ).ready(function() {
   

    var intervalId = setInterval(update, 8000);
    function update() {
        var end = document.getElementById('fine');
        console.log(end);
        if (end == null) {
            console.log("leaving");
            $('#spinner').hide();
            clearInterval(intervalId);
            return
        }
        if (end.innerHTML == 'true' || end == null){
            console.log("removing");
            $('#spinner').hide();
            clearInterval(intervalId);
        }
        else{
         $.ajax({
            url: '/welcome/update_results/',
            success: function(data) { 
            }
          });
        }
    };
    
    
    var opts = {
      lines: 12             // The number of lines to draw
    , length: 7             // The length of each line
    , width: 4              // The line thickness
    , radius: 8            // The radius of the inner circle
    , scale: 1.0            // Scales overall size of the spinner
    , corners: 1            // Roundness (0..1)
    , color: '#FFF'         // #rgb or #rrggbb
    , opacity: 1/4          // Opacity of the lines
    , rotate: 0             // Rotation offset
    , direction: 1          // 1: clockwise, -1: counterclockwise
    , speed: 1              // Rounds per second
    , trail: 100            // Afterglow percentage
    , fps: 20               // Frames per second when using setTimeout()
    , zIndex: 2e9           // Use a high z-index by default
    , top: '50%'            // center vertically
    , left: '0%%'           // center horizontally
    , shadow: false         // Whether to render a shadow
    , hwaccel: false        // Whether to use hardware acceleration (might be buggy)
    , position: 'absolute'  // Element positioning
    }
    var target = document.getElementById('spinner')
    var spinner = new Spinner(opts).spin(target)
    
    

    
  
  // Handler for .ready() called.
});

<% end %>


/*$('#results').PeriodicalUpdater("/welcome/update_results", 
        { 
            frequency: 10, 
            method: 'get' 
        },
        function(remoteData, success, xhr, handle) {
            console.log("successss");
        });
*/

</script>