// Place all the styles related to the profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.queries {
  width: 500px !important;
  margin: 0 0 !important;
}

.misura {
  width: 200px !important;
}

.stagione-query {
  width: 200px !important;
}

.elimina {
  width: 100px !important;
}
.title {
    font-size: 25px;
}
.descrizione{
    margin: 6em 3em;
    height: 100%;
}

