// Place all the styles related to the profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.queries {
  max-width: 500px !important;
  margin: 0 0 !important;
}

.misura {
  max-width: 200px !important;
}

.stagione-query {
  max-width: 200px !important;
}

.elimina {
  max-width: 100px !important;
}
.title {
    font-size: 25px;
    padding-bottom: .8em;
}
.descrizione{
    margin: 6em 3em;
    height: 100%;
}


#settings {
  padding-top: 2em;
}
@media only screen and (max-width: 600px) {
  .info {
    display: none;
  }
  #manage_queries{
    max-width: 800px !important;
    width: 100% !important;
  }
}

/* magazzino.html.erb */

.no-margin {
  padding: 0 0 !important;
  margin: 0 0 !important;
}

.filters2 {
  
}

.item {
  font-family: "Roboto" !important;
  font-size: 1.2em;
  padding-bottom: .4em;
  padding-top: .4em;
  border-bottom: .5px solid black;
}

.heading {
  font-family: "Roboto" !important;
  font-size: 1.4em;
}

.intestazione {
  font-family: "Roboto" !important;
  text-align: center;

  font-size: 2em;
}
.valore {
  font-family: "Roboto" !important;
  text-align: center;

  font-size: 1.8em;
}
.item2{
  border-bottom: .1px solid #8E9AA5;
}

.small-input {
  max-width: 10%;
  border-radius: 25px;
  border: 2px solid ;
  padding: 2px; 
}

.medium-input {
  max-width: 40%;
  border-radius: 25px;
  border: 2px solid ;
  padding: 2px; 
}